{% load leaflet_tags %}
{% load geojson_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    </head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    <style>

        .leaflet-container {  /* all maps */
            width:  600px;
            height: 400px;
        }
    
        #specialbigmap {
            height: 800px;
        }
    
        /* Resize the "display_raw" textbox */
        .django-leaflet-raw-textarea {
            width: 100%;
        }
    
    </style>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
<h1>{{cidade.nome}}</h1>

<em>{{cidade.ibge}}</em>
<p><i>{{cidade.regiao}}</i>
</p>
  

<script>
    function map_init(map, options) { 
       var collection = {{ cidade|geojsonfeature:":geometria,nome,"|safe }};
        var geojson = L.geoJson(collection.features).addTo(map); 
        map.addControl(geojson);
        map.fitBounds(geojson.getBounds());
        load_estabelecimentos(map)
    }

    function load_estabelecimentos(map){
        //var markers = L.contr
        var markers = L.markerClusterGroup();
        axios.get("{% url 'mapa:estabelecimentocidade' cidade.ibge %}").then(
            function (response) { 
                for(let dado of response.data)
                {
                    var popup = `<p><b>${dado.nome}</b><br>
                        <span style="margin-top: 1px;">${dado.tipo}</span><br>
                        <span style="float: right">CNES ${dado.cnes}</span>
                        </p>
                    
                    <p style="clear: both;"><i>${dado.endereco.replace('\n', '<br>')}</i></p>`
                    var marker = L.marker(dado.coordenadas).bindPopup(popup)
                    markers.addLayer(marker);
                }
                map.addLayer(markers);
            })
    }

</script>

{% leaflet_map "yourmap" callback="window.map_init" %}



</body>